/nbproject/private/
/build/
/dist/
/src/clientServeurSocket/Config.properties
/src/Server/Config.properties
/src/database/utilities/Config.properties
/TETST/nbproject/private/
/test/nbproject/private/
/Nouveau dossier/nbproject/private/
/CaddieVirtuel/build/
/CaddieVirtuel/dist/
/CaddieVirtuel/nbproject/private/
/TestCodePdf/nbproject/private/
/TestCodePdf/build/
/TestCodePdf/dist/
/CaddieVirtuel/src/java/database/utilities/Config.properties
/Application_JIAChat/nbproject/private/
/Application_JIAChat/build/
/Serveur_IAChat/nbproject/private/
/Serveur_IAChat/dist/
/Serveur_IAChat/build/
/Application_JIAChat/dist/
/JPA/nbproject/private/
/TestJKS/nbproject/private/
/TestJKS/build/
/TestJKS/dist/
/ServeurBillets/nbproject/private/