/nbproject/private/
/build/
/dist/
/src/clientServeurSocket/Config.properties
/src/Server/Config.properties
/src/database/utilities/Config.properties
/TETST/nbproject/private/
/test/nbproject/private/
/Nouveau dossier/nbproject/private/
/CaddieVirtuel/build/
/CaddieVirtuel/dist/
/CaddieVirtuel/nbproject/private/